* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    width: 100%;
    overflow-x: hidden;
    width: 100vw;
    /* height: 100vmax; */
    /* background-color: rgba(250, 250, 250, 0.723); */
}

h2 {
    margin: 1.2rem 0 9.6rem 0;
    color: #333;
    font-weight: 800;
    font-size: 4.2rem;
}

h3 {
    color: #333;
    font-size: 2.8rem;
    font-weight: 600;
}

h4 {
    color: #333;
    font-size: 2.4rem;
    font-weight: 600;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    font-weight: 400;
    width: 100vmax;
    color: #555;
}

header {
    position: relative;
    z-index: 1000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: #fdf2e9;
}

.menu-nav {
    height: 100%;
    width: 100%;
}

.logo {
    height: 2rem;
}

.main-nav-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.main-nav-link {
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
}

.main-nav-link:hover {
    color: #e67e22;
}

.nav-cta:link {
    padding: 0.8rem 2.4rem;
    background-color: #e67e22;
    border-radius: 1rem;
    color: #fff;
}

.nav-cta:link:hover {
    background-color: #e4361b;
}

.menu-btn {
    /* position: relative; */
    display: flex;
    align-items: center;
    height: 4.8rem;
    width: 4.8rem;
    /* display: none; */
}

.menu:target {
    border: 4px solid #e4361b;
}

.menu {
    display: none;
}

.menu-icon {
    height: 4.2rem;
}

.x-icon {
    display: none;
    height: 4.2rem;
}

.section-menu {
    display: none;
    position: absolute;
    background-color: #fbf9f9f1;
    z-index: 999;
    width: 100vmax;
    height: 100vh;
    animation: menuDisplay 0.8s linear;
}

@keyframes menuDisplay {
    from {
        width: 0vw;
        background-color: #fbf9f977;
    }
    to {
        width: 100vw;
        background-color: #fbf9f9f1;
    }
}

.container-menu-nav {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: content;
    align-items: center;
    gap: 3.2rem;
}

.menu-nav-link {
    color: #333;
    width: 30rem;
    font-weight: 600;
    font-size: 2.8rem;
    text-decoration: none;
    font-size: 3.2rem;
}

.menu-nav-link:hover {
    color: #e67e22;
}

.section-hero {
    position: relative;
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 9.6rem;
    gap: 9.6rem;
    align-items: center;
}

.hero-primary {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
    color: #333;
}

.hero-description {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.learn-more,
.link-form-login {
    background-color: rgb(207, 138, 10);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 1rem 2.4rem;
    border-radius: 8px;
}

.learn-more {
    margin-left: 2rem;
    background-color: #fff;
    color: #555;
}

.delivered-meals {
    margin-top: 9.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3.2rem;
    /* justify-content: space-between; */
}

delivered-imgs {
    display: flex;
}

.delivered-customer {
    margin-right: -1.6rem;
    height: 4rem;
    border: 3px solid #fdf2e9;
    border-radius: 50%;
}

.delivered-text {
    font-size: 1.5em;
    font-weight: 800;
}

.hero-img {
    width: 100%;
}

.section-featured {
    align-items: center;
    height: 16.2rem;
    padding: 4.8rem 0 3.2rem 0;
}

.container {
    max-width: 120rem;
    padding: 0 8.2rem;
    margin: 9px auto;
}

.featured-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.featured-heading-idea {
    font-size: 1.3rem;
    font-weight: 500;
    color: #666;
    opacity: 0.8;
    text-transform: uppercase;
}

.featured-imgs {
    display: flex;
    justify-content: space-around;
}

.featured-logo {
    height: 3.2rem;
}

.section-how {
    margin-top: 9.6rem;
}

.how-it-work {
    color: red;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.grid-how-it-works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 4.8rem;
    row-gap: 9.6rem;
}

.step-number {
    margin: 3.2rem 0 2.4rem 0;
    font-size: 8.2rem;
    font-weight: 600;
    color: #ddd;
}

.step--heading-tertiary {
    grid-column: 1/2;
    grid-row: 2/3;
}

.step-description {
    font-size: 1.7rem;
    grid-column: 1/2;
    grid-row: 3/-1;
    line-height: 1.6;
    margin-top: 3.2rem;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img {
    width: 35%;
}

.step-img-box-2 {
    grid-row: 2/3;
}

.step-img-box::after {
    z-index: -2;
    position: absolute;
    content: "";
    width: 60%;
    padding-bottom: 60%;
    border-radius: 50%;
    background-color: #fdf2e9;
}

.step-img-box::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 45%;
    padding-bottom: 45%;
    border-radius: 50%;
    background-color: #fae5d3;
}

.section-meals {
    padding: 9.6rem 0 5.4rem 0;
}

.container-meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 9.6rem;
}

.meals-idea {
    margin: 0 auto;
    padding-bottom: 1.4rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: rgb(250, 62, 62);
}

.meals-heading-title {
    margin: 0 auto;
}

.container-meals-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
}

.card-meal-one {
    display: flex;
    gap: 6.4rem;
}

.card-meals {
    transition: all 0.4s;
    width: 30rem;
    border-radius: 1rem;
    /* background-color: #fff; */
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
}

.card-meals-hover:hover {
    transform: translate(0, -5%);
}

.img-meal {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.meals-tags-box {
    display: flex;
    align-items: center;
    margin-left: 3.2rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.tag {
    margin-top: 2.6rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.3rem 0.7rem;
    border-radius: 100px;
}

.tag-vegetarian {
    background-color: #51cf66;
}

.tag-vegan {
    background-color: #94d82d;
}

.tag-paleo {
    background-color: #ffd43b;
}

.meals-title {
    margin-left: 3.2rem;
}

.meals-content {
    display: flex;
    gap: 2.2rem;
    flex-direction: column;
    color: #666;
    font-size: 1.6rem;
    margin: 3.2rem 0 3.8rem 3.8rem;
}

.meals-icon {
    transform: translate(0, 18%);
    height: 2.2rem;
    color: red;
    padding-right: 0.8rem;
}

.meals-diet ul {
    margin-top: 3.2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.icon-meals {
    color: rgba(233, 11, 11, 0.588);
    height: 2.8rem;
    padding-right: 0.8rem;
    transform: translate(0, 30%);
}

.see-all-recipes {
    display: flex;
    font-size: 2.2rem;
    justify-content: center;
    margin: 3.8rem 0 3.2rem 0;
}

.see-all-link {
    font-weight: 500;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid hsla(8, 79%, 50%, 0.684);
    text-decoration: none;
    color: hsla(8, 79%, 50%, 0.789);
}

.section-testimonials {
    background-color: #fdf2e9;
}

.testimonials-grid {
    display: grid;
    column-gap: 1.2rem;
    grid-template-columns: 1fr 0.8fr;
}

.testimonial-author-box {
    padding: 8.4rem 8.4rem 9.6rem 9.4rem;
}

.testimonial-sub-heading {
    color: #f6370cd6;
    font-weight: 600;
    font-size: 1.8rem;
}

.author-box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 4.8rem;
}

.author-img {
    height: 6.4rem;
    border-radius: 50%;
}

.author-testimonial-content {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 1.6rem 0;
}

.author-testimonial-name {
    font-size: 1.4rem;
    opacity: 0.8;
}

.testimonial-img-box {
    overflow: hidden;
    margin-bottom: 1.4rem;
}

.testimonial-imgs {
    margin-bottom: 1.8rem;
    margin-top: 3.2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1.4rem;
}

.gallery {
    transition: all 0.8s;
    width: 100%;
    height: 100%;
}

.gallery:hover {
    overflow: hidden;
    transform: scale(1.2);
}

.container-price-heading {
    margin-top: 9.6rem;
}

.card-price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.6rem;
    /* justify-content: space-between; */
}

.card-price {
    border: 2px solid #fdf2e9;
    border-radius: 11px;
    /* display: flex; */
}

.pricing-header {
    text-align: center;
}

.card-title {
    font-size: 2.4rem;
    color: #e4361b;
    font-weight: 600;
}

.price {
    font-size: 4.6rem;
    font-weight: 900;
    margin: 3.6rem 2rem 1.8rem 2rem;
}

.price-sub {
    font-size: 1.6rem;
}

.card-price li {
    font-size: 1.8rem;
}

.card-price ul {
    margin: 4.6rem 0 1.8rem 0;
    margin-top: 4.6rem;
}

.btn-price-box {
    margin-top: 4.2rem;
    text-align: center;
}

.btn-price {
    background-color: #d87a2de7;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    padding: 1.2rem 3.2rem;
    border: 2px solid;
    border-radius: 1rem;
}

.btn-price:hover {
    background-color: red;
}

.icon-price {
    height: 3rem;
    color: red;
    padding-right: 1.6rem;
    transform: translate(0%, 30%);
}

.card-price-starter {
    justify-self: end;
    padding: 4.6rem;
}

.card-price-complete {
    justify-self: start;
    padding: 4.6rem;
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.card-price-complete::after {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(220, 220, 35);
    content: "BEST VALUE";
    transform: rotate(45deg) translateX(28%);
    padding: 0.6rem 2.4rem;
    width: 9.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.container-details {
    text-align: center;
    font-size: 1.6rem;
}

.detail-content {
    margin: 4.6rem 0 9.6rem 0;
}

.grid-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4.6rem;
}

.feature__box--logo {
    background-color: #fdf2e9;
    height: 5.8rem;
    width: 5.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
}

.feature--logo {
    color: red;
    height: 2.8rem;
}

.feature-content {
    margin-top: 1.4rem;
    font-size: 1.6rem;
    line-height: 1.6;
}

.cta {
    margin: 9.6rem 0.4rem;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 11px;
}

.cta-content-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-content {
    margin-top: -6.4rem;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 4.6rem;
}

.cta-img {
    background-image: url(./img/eating.jpg);
    background-position: center;
    background-size: cover;
}

.cta-form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    grid-template-rows: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 3.2rem;
}

.cta label {
    font-size: 1.4rem;
    font-weight: bold;
}

.signup,
.cta-form input[type=text] {
    border-radius: 11px;
    border: none;
    height: 3.8rem;
    width: 100%;
    font-size: 1.6rem;
    padding-left: 1rem;
    margin-top: 1.2rem;
    background-color: #fdf2e9;
}

#question {
    position: relative;
}

.option-box {
    display: none;
    position: absolute;
    height: 1;
    width: 26rem;
    background-color: #fdf2e9;
    border-radius: 11px;
    margin-top: 0.1rem;
}

.option {
    font-size: 1.6rem;
    padding: 0.4rem 1.2rem;
}

.option:hover {
    background-color: rgba(44, 44, 245, 0.634);
    color: #fff;
}

.signup {
    background-color: #45260a;
    color: #fff;
    margin-top: 2.6rem;
    transition: all 0.4s;
}

.signup:hover {
    background-color: #fff;
    color: #333;
}

.cta-img {
    overflow: hidden;
}

.eating-img {
    width: 100%;
    height: 100%;
}

.section-footer {
    border-top: 1px solid rgba(153, 153, 153, 0.137);
}

.footer-grid {
    margin: 6.4rem 0;
    padding: 9.6rem 10rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
}

.contact {
    margin: 2.8rem 0 1.6rem 0;
}

.icon-contact {
    height: 2.4rem;
    padding-right: 1rem;
}

.footer-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
}

.footer-content {
    padding: 1.2rem 0;
    font-size: 1.4rem;
}